<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicocenter</title>
    <link rel="stylesheet" href="../style/poslogin.css">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
</head>

<body>

  <header class="cabecalho">
    <img src="../images/logo-psico-center.png" alt="Logo Psicocenter">
    <h1 class="titulo-logo">Psicocenter</h1>

    <nav class="menu">
      <a href="../views/index.html">
        <i class='bx bx-message-circle'></i>
        Mensagens
      </a>
      <a href="../views/perfil_paciente.html" class="botao-perfil">Meu Perfil</a>
    </nav>
  </header>

  <section class="apresentacao">
    <h2>
      <span>Encontre o psicólogo ideal</span>
      <span>para você</span>
    </h2>

    <p>
      <span>Conectamos você com profissionais qualificados...</span>
      <span>Comece sua jornada de cuidado mental hoje!</span>
    </p>

    <a href="../views/buscar_profissionais.html" class="btn">
      Buscar Profissionais <span class="arrow">→</span>
    </a>

    <a href="../views/agendamentos_paciente.html" class="btn" style="margin-top: 18px; display: inline-block;">
      Meus agendamentos <span class="arrow">→</span>
    </a>
  </section>

</body>

</html>
