<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/contato.css">
    <title>Document</title>
</head>
<body>
    <div class="logo-container">
        <img src="../images/logo-psico-center.png" alt="Logo Psicocenter">
        <h1><a href="index.html"  class="psicocenter">Psicocenter</a></h1>
    </div>

    <div>
        <h2>Contate-nos!</h2>
        <p>Colégio Técnico Bento Quirino</p>
        <p>Rua José de Alencar, 442</p>
        <p>Centro, Campinas - SP, 13013-040</p>
    </div>

</body>
</html>