<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicocenter</title>

    <link rel="stylesheet" href="../style/styles.css">
</head>

<body>

    <!-- Cabeçalho -->
    <header class="logo-container">

        <img src="../images/logo-psico-center.png" alt="Logo Psicocenter">

        <h1 class="psicocenter">Psicocenter</h1>

        <nav class="menu">
            
            <a href="sobrenos.html" class="botao-sobrenos">Sobre nós</a>
            <a href="contato.html" class="botao-contato">Contato</a>
            <a href="paginaposlogin.html" class="button">Entrar</a>
        </nav>

    </header>

    <!-- Conteúdo Principal -->
    <main>

        <h2>Bem-vindo ao Psicocenter!</h2>

        <h3 class="subtitulo">
            Como você deseja usar nossa plataforma?
        </h3>

        <section class="area-quadrado">

            <div class="quadrados">

                <div class="quadrado">

                    <a href="../views/loginpsicologo.html" class="opcao">
                        Sou Psicólogo(a)
                    </a>

                    <img src="../images/psico-azul.png"
                        alt="Psicólogo"
                        class="img1">

                </div>

                <div class="quadrado">

                    <a href="../views/loginpaciente.html" class="opcao">
                        Sou Paciente
                    </a>

                    <img src="../images/paciente-bluedark.png"
                        alt="Paciente"
                        class="img2">

                </div>

            </div>

        </section>

    </main>

</body>

</html>