<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Live Server - Proyecto</title>
        <link rel="stylesheet" href="/style/styles.css">
        <link rel="stylesheet" href="IMG_5338.png">
    </head cclass="tudo">
       
    <div class="logo-container">
    <img src="../images/logo-psico-center.png" alt="Logo Psicocenter">
    <h1 class="psicocenter">Psicocenter</h1>

    

    </div>
    



    <body>
        
       

       <a href="inicio.html" target="_blank" class="botao-inicio">Inicio</a>
       <a href="sobrenos.html" target="_blank" class="botao-sobrenos">Sobre nós</a>
       <a href="contato.html" target="_blank" class="botao-contato">Contato</a>
       




        
            <h2 class="h2">Bem-vindo ao Psicocenter!</h2>
            
            <h3 class="subtitulo">Como voce deseja usar nossa plataforma?</h3>
            
        
       
        
        
        
        <a href="entrar.html" class="button">Entrar</a>

       <section class="area-quadrado">

    <div class="quadrados">

        <div class="quadrado">
            <a href="pisicologo.html" class="pisicologo-enter">Sou Psicólogo(a)</a>
            <img src="../images/psico-azul.png" class="img1">
        </div>

        <div class="quadrado">
            <a href="paciente.html" target="_blank" class="paciente">Sou Paciente</a>
            <img src="../images/paciente-bluedark.png" class="img2">
        </div>

    </div>

</section>

       
    </body>


   

    
    </html>
    
      