<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
    <link rel="stylesheet" href="../style/poslogin.css">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
</head>

<body>

  <section class="cabecalho">

   <header>
    <div class="logo-container">
    <img src="../images/logo-psico-center.png" alt="Logo Psicocenter">
    <a class="psico" href="../index.html">Psicocenter</a>

    <a class="buscar" href="/views/index.html">
        <i class='bx bx-message-circle'></i> 
        Mensagens
    </a>
    
   
</header>

  </section>

  <section>
    <h1>
      <span>Encontre o psicólogo ideal</span>
      <span>para você</span>
    </h1>

    <p>
      <span>Conectamos você com profissionais qualificados...</span>
      <span>Comece sua jornada de cuidado mental hoje!</span>
    </p>

    <a href="/views/buscar_profissionais.html" class="btn">
      Buscar Profissionais <span class="arrow">→</span>
    </a>
    
    <h2>Por que escolher a Psicocenter? </h2>
    <p class="pzinho">Facilitamos sua busca pelo profissional perfeito</p>
  </section>

  

</body>
  

<body>
  

    
    
</body>
</html>