<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Psicocenter</title>
    <link rel="stylesheet" href="../style/perfil.css">
</head>

<body>


    <!-- MENU LATERAL -->

    <aside class="sidebar">

        <div class="logo">
            Psicocenter
        </div>


        <div class="usuario">

            <img src="../images/psicologo.webp" alt="Foto">

            <h3>Dr. João Silva</h3>

            <p>Psicólogo</p>

        </div>


        <nav>

            <a href="perfil.html">
                Perfil
            </a>


            <a href="pacientes.html">
                Pacientes
            </a>


            <a href="agendamentos.html">
                Agendamentos
            </a>


        </nav>




    </aside>




    <!-- CONTEÚDO -->

    <main class="conteudo">


        <section class="perfil">


            <h1>Meu Perfil</h1>


            <div class="card">


                <img class="foto-perfil" src="../images/psicologo.webp" alt="Foto do Psicólogo">


                <h2>
                    Dr. João Silva
                </h2>


                <p>
                    Psicólogo Clínico
                </p>


                <hr>


                <div class="informacoes">

                    <p>
                        <strong>Email:</strong>
                        joao@email.com
                    </p>


                    <p>
                        <strong>Telefone:</strong>
                        (11) 99999-9999
                    </p>


                    <p>
                        <strong>CRP:</strong>
                        06/123456
                    </p>


                </div>



                <button class="editar">
                    Editar Perfil
                </button>


            </div>


        </section>


    </main>



</body>

</html>