<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/posloginpsicologo.css">
</head>

<body>

<main class="container">

    <section class="dashboard">
        <h3>Perfil</h3>
        <a href="/views/index.html" class="voltar">Voltar</a>
    </section>

    <div class="conteudo">

    <section class="box">
        <h1>Meu Perfil</h1>
    </section>

    <div class="linha-info">

        <div class="div-profissional">
            <section class="profissional">
                <h2 class="principal-doutor">Dr Marcos Silva</h2>
                <p>Contato: marcos.silva@psicologia.com</p>
                <p>Endereço: Rua Exemplo, 123 - São Paulo/SP</p>
            </section>
        </div>

        <div class="sobre-doutor">
            <section class="sobre">
                <h2>Sobre o Dr Marcos Silva</h2>
                <p><p>Psicólogo clínico com especialização em terapia cognitivo-comportamental.</p></p>
            </section>
        </div>

    </div>

</div>

</main>

</body>
</html>