<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/sobrenos.css">
    <title>Psicocenter</title>
</head>
<header>
 
    <img src="../images/logo-psico-center.png" class="logo-sobrenos">
    <h1 class="titulo">
        <a href="index.html" class="link-voltar">Psicocenter</a>
    </h1>

</header>

<body>
    <main>
        <section class="parte-sobrenos">
            <h2 class="sobrenos">Sobre nós</h2>
            
            <p class="texto-sobrenos">Somos uma equipe de jovens desenvolvedores apaixonados <br> tecnologia e por criar soluções que realmente façam a diferença <br> na vida das pessoas.
        </section>
        
        <section class="parte-missao">
            <img class="imagem-missao" src="../images/nossa-missao.png" alt="Nossa Missão">
            <div class="conteiner-missao">
                <h2 class="nossa-missao">Nossa missão</h2>

                <p class="texto-missao">Nossa missão é proporcionar um ambiente acolhedor e acessível <br> para que as pessoas possam cuidar de sua saúde mental de forma <br> fácil e eficiente. Acreditamos que a tecnologia pode ser uma aliada <br> poderosa na promoção do bem-estar emocional, e é por isso que <br> criamos o Psicocenter.     
            </div>
        </section>

        <section class="parte-equipe">
            <img class="imagem-equipe" src="../images/equipe.png" alt="Nossa Equipe">
            <div class="conteiner-equipe">
                <h2 class="nossa-equipe">Nossa equipe</h2>

                <p class="texto-equipe">Composta por 5 estudantes dedicados, nossa equipe se compromete <br> em oferecer o melhor atendimento e suporte para nossos clientes.</p>
            </div>           
        </section>
        
    </main>

</body>
</html>